@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

ul {
  list-style: none;
}

.plan {
  font-family: 'Roboto', sans-serif;
  padding: 9.6rem 0;
  text-align: center;
  font-weight: 400;
  line-height: 1;
  color: #22252E;
  background-color: #F7F7F7;
}

.plan__title {
  margin-bottom: 4rem;
  font-size: 3.5rem;
  font-weight: 300;
}

@media (max-width: 440px) {
  .plan__title {
    margin-bottom: 2rem;
    font-size: 2rem;
  }
}

.plan__descr {
  display: block;
  margin-bottom: 0.5rem;
  font-size: 0.8rem;
  line-height: 1;
  color: #4CB649;
  text-transform: uppercase;
}

.plan__subtitle {
  display: block;
  margin-bottom: 3rem;
}

.container {
  max-width: 1180px;
  margin: 0 auto;
  padding: 0px 10px;
}

.plan__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
}

@media (max-width: 1024px) {
  .plan__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.plan__card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 23.8rem;
  min-height: 21.2rem;
  padding: 3rem 1.2rem 2.4rem;
  border: 4px solid transparent;
  background-color: #fff;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

@media (max-width: 650px) {
  .plan__card {
    width: 80%;
  }
}

.plan__card:not(:last-child) {
  margin-right: 1.8rem;
}

@media (max-width: 1024px) {
  .plan__card:not(:last-child) {
    margin-bottom: 1.8rem;
  }
}

@media (max-width: 800px) {
  .plan__card:not(:last-child) {
    margin-right: 0px;
  }
}

.plan__card:hover {
  border: 4px solid #FF8D00;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.plan__card:hover .content__item__button {
  color: #fff;
  background-color: #FF8D00;
  border: 1px solid transparent;
}

.plan__card__title {
  position: relative;
  display: block;
  margin-bottom: 1.6rem;
  font-size: 1.2rem;
  text-transform: uppercase;
}

.plan__card__title::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: -.8rem;
  width: 1.6rem;
  height: 2px;
  background-color: #4CB649;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

.plan__card__prises {
  position: relative;
  max-width: 13.25rem;
  margin-bottom: 2.9375rem;
  font-size: 3.5rem;
}

.plan__card__prises::after {
  content: '';
  position: absolute;
  bottom: -1rem;
  right: 0px;
  height: 1px;
  width: 100%;
  background-color: #EBECED;
}

.plan__card__currency {
  font-size: 1.4rem;
  font-weight: 300;
  vertical-align: super;
}

.plan__card__month {
  font-size: 1.6rem;
  font-weight: 300;
  vertical-align: baseline;
}

.plan__card__prise {
  margin-bottom: 2rem;
  font-size: 1rem;
}

.plan__card__old {
  margin-right: 0.6rem;
  color: #F24458;
}

.plan__card__save {
  display: block;
  margin-top: .6rem;
}

.plan__card__button {
  position: relative;
  min-width: 12.8rem;
  padding: .8rem .6rem;
  font-size: 1.2rem;
  text-align: center;
  text-transform: uppercase;
  color: #4CB649;
  border: 1px solid #4CB649;
  border-radius: 1.2rem;
  background-color: transparent;
  overflow: hidden;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.plan__card__button::after {
  content: 'PLAN SELECTED';
  position: absolute;
  top: 3.2rem;
  left: 0px;
  bottom: 0px;
  right: 0px;
  padding-top: 0.8rem;
  text-align: center;
  vertical-align: auto;
  color: #fff;
  background-color: #FF8D00;
  -webkit-transition: top 0.2s;
  transition: top 0.2s;
  z-index: 2;
}

.plan__card__button:active::after {
  top: 0rem;
}

.plan__card__button:active {
  color: transparent;
}
