-
	let prise = [
		{
			time:	'moutli',
			currency: '$',
			prise: '6.95',
			month: '/mo',
			oldPrise: '',
			newPrise: 'Includes all VPN features.',
			savePrise: ''
		},
									{
			time:	'Two Years',
			currency: '$',
			prise: '2.91',
			month: '/mo',
			oldPrise: '$166.80',
			newPrise: '$69.95 per two years',
			savePrise: 'Save 58%*'
		},
									{
			time:	'Yearly',
			currency: '$',
			prise: '3.30',
			month: '/mo',
			oldPrise: '$83.40',
			newPrise: '$39.95 per year',
			savePrise: 'Save 52%*'
		},
	];